body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:406px;
    top:79px;
    width:150px;
    height:84px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_container {
    position:absolute;
    left:11px;
    top:7px;
    width:385px;
    height:505px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:385px;
    height:505px;
}

.u2 {
    position:absolute;
    left:2px;
    top:244px;
    width:381px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

