body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../框架_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:16px;
    top:11px;
    width:402px;
    height:531px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:537px;
}

.u1 {
    position:absolute;
    left:2px;
    top:258px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../框架_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:16px;
    top:11px;
    width:402px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:34px;
    top:23px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:151px;
    top:19px;
    width:127px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:337px;
    top:23px;
    width:70px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_container {
    position:absolute;
    left:140px;
    top:174px;
    width:120px;
    height:115px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:115px;
}

.u9 {
    position:absolute;
    left:2px;
    top:50px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:87px;
    top:315px;
    width:264px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:114px;
    top:395px;
    width:173px;
    height:55px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

