<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: DataHost + "/manger/riddle_type/read",
                                type: "post"
                            },
                            create: {
                                url: DataHost + "/manger/riddle_type/create",
                                type: "post"
                            },
                            parameterMap: function(options, operation) {

								if(operation === 'read' && options.filter){
                                	return {models:kendo.stringify(options.filter.filters)};
                                }
                                if (operation !== "read" && options.models) {
                                    return {models: kendo.stringify(options.models)};
                                }


                            }
                        },
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        filter: { logic: "and", filters: [ 
		                        { field: "_id", operator: "filter", value: "" },
		                        { field: "Name", operator: "filter", value: "" },
		                        { field: "Desc", operator: "filter", value: "" },
                         ] },
                        schema: {
                            model: {
                                fields: {
                                    "_id": { editable: false },
									"Name":{editable: true },
                                    "Desc": {editable: true },
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 500,
                    toolbar: [    
					    { name: "create" },
					    { name: "save" }
					],
                    columns: [
                        { 
							field: "_id",
							title: "题库类型id", 
						},
						{ 
							field: "Name",
							title: "题库类型名称", 
						},
						{ 
							field: "Desc",
							title: "题库类型描述", 
						},
                        { 
							command: "destroy", 
							title: "删除" 
						}],
                    editable: true,
                    filterable:true,
                    remove: function(e) {
       
					    $.post(DataHost + "/manger/riddle_type/destory", {_id:e.model._id},function(d){
					    	if(d.error) return alert(d.error);
					    	alert('ok')
					    },'json')
					},
					save: function(e) {
                    	if(e.model._id){
                    		e.values._id = e.model._id;
                    		$.post(DataHost + "/manger/riddle_type/update", {models:JSON.stringify([e.values])}, function(d){
						    	if(d.error) return alert(d.error);
						    	alert('ok')
					   		},'json')
                    	}
					},				
                });
									
});

</script>
<% include inc/foot %>
