body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../框架_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:19px;
    top:13px;
    width:402px;
    height:531px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:537px;
}

.u1 {
    position:absolute;
    left:2px;
    top:258px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../框架_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:19px;
    top:13px;
    width:402px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:16px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:37px;
    top:25px;
    width:58px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_line {
    background-image: url('../游戏记录_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:361px;
    height:3px;
}

.u6 {
    position:absolute;
    left:32px;
    top:124px;
    width:361px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:38px;
    top:98px;
    width:355px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:38px;
    top:144px;
    width:355px;
    height:336px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:145px;
    top:23px;
    width:150px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../游戏记录_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:154px;
    top:502px;
    width:118px;
    height:28px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:118px;
    height:28px;
}

.u11 {
    position:absolute;
    left:2px;
    top:6px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

