    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                  <li class="nav-header">用户管理</li>
                  <li><a href="/manger/user/list/">用户列表</a></li>
                  <li><a href="/manger/token/list">登录信息</a></li>
                  <li class="nav-header">题库管理</li>
                  <li><a href="/manger/riddle_type/list/">题库分类</a></li>
                  <li><a href="/manger/riddles/list/">题库列表</a></li>
                  <li class="nav-header">答题管理</li>
                  <li><a href="/manger/result/list/">答题成绩</a></li>
                  <li><a href="/manger/rank/list/">排行榜</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span--> 
        <div class="span10">