<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/manger/main/">App后台管理</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              欢迎您管理员 <a href="/manger/logout" class="navbar-link">退出登录</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="/manger/main/">首页</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>